{{ define "main" }}
<section class="hero hero--clean">
  <div class="hero-copy">
    <h1>Investigating the microbiome disruption response</h1>
    <p>
      We are a diverse team of researchers at Syracuse University working to understand how the microbiome responds to perturbations like antibiotics, diet, and infection.
	</p>
	<p>
	  We use a combination of experimental and computational approaches to study the dynamics of microbial communities and their interactions with the host.
    </p>
  </div>
</section>

{{ end }}